<main class="my-5">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="p-0 m-0">Consulte os processos</h1>
                </div>
                <div class="card-body d-flex justify-content-around flex-row flex-wrap">
                {{#each processes}}
                <div class="my-2 p-2 border border-secondary rounded">
                    <p class="p-0 m-0">Número do processo:</p>
                    <p>{{numberProcess}}</p>
                    <hr>
                    <p class="p-0 m-0">Nome do cliente:</p>
                    <p>{{relatedClient.name}}</p>
                    <hr>
                    <p class="p-0 m-0">Código:</p>
                    <p>{{code}}</p>
                </div>
                {{else}}
                    <h3> Não há registro de processos</h3>
                {{/each}}
                </div>
            </div>
        </div>
    </section>
</main>