<main class="mt-5">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Seja bem-vindo!</h1>
                </div>
                <div class="card-body">
                    <a href="admin/send-mail"><button class="btn btn-primary">Envio de alertas</button></a>
                    <a href="admin/register-client"><button class="btn btn-primary">Registar cliente</button></a>
                </div>
            </div>
        </div>
    </section>
</main>