<main class="my-5">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="p-0 m-0">Seja bem-vindo!</h1>
                </div>
                <div class="card-body">
                    <ol>
                        <li class="mb-2">Alertas</li>
                        <div class="row mb-3">
                            <div class="col">
                                <a href="/admin/send-mail" class="btn btn-primary">Envio de alertas</a>
                                <a href="/admin/send-mass-mail" class="btn btn-primary">Envio de alertas em massa</a>
                            </div>
                        </div>
                        <hr>
                        <li class="mb-2">Cliente</li>
                        <div class="row mb-3">
                            <div class="col">
                                <a href="/admin/register-client" class="btn btn-primary">Registrar cliente</a>
                                <a href="/admin/consult-clients" class="btn btn-primary">Consultar cliente</a>
                            </div>
                        </div>
                        <hr>
                        <li class="mb-2">Processo</li>
                        <div class="row mb-3">
                            <div class="col">
                                <a href="/admin/register-process" class="btn btn-primary">Registrar processo</a>
                                <a href="/admin/consult-processes" class="btn btn-primary">Consultar processos</a>
                            </div>
                        </div>
                        <hr>
                        <li class="mb-2">Usuário</li>
                        <div class="row mb-3">
                            <div class="col">
                                <a href="/admin/register-user" class="btn btn-primary">Registrar usuário</a>
                                <a href="/admin/consult-users" class="btn btn-primary">Consultar usuários</a>
                            </div>
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</main>