<div class="container">
    <form action="/admin/teste-attach" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Anexos do processo</label>
            <input type="file" class="form-control" id="formFileMultiple" name="attachments" multiple>
        </div>
        
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
    <a href="./uploads/1668819449027-cupido.png" target="_blank">Clique para download</a>
</div>