<footer class="mt-5">
    <div class="container d-flex flex-column justify-content-between align-items-center pt-4 pb-2">
        <div class="mb-3">
            <img src="/img/logo_name-white.svg" alt="ZR Advogados">
        </div>
        <p class="m-0 small">Sistema de acompanhamento de processos. Todos os direitos reservados à RZ Advogados.</p>
        <p class="m-0 small">Criado e desenvolvido por <a href="https://gvfwebdesign.com.br" target="_blank" class="my-link">Agência GVF</a></p>
    </div>
</foter>

<style>
    footer {
        background: #333;
        color: #FFF;
    }

    footer .container {

    }

    footer .container img {
        width: 8rem;
    }

    footer .container .my-link {
        color: #F58634;
    }

    footer .container .my-link:hover {
        text-decoration: double;
        color: #7fffd4;
    }
</style>