<header>
    <div class="container d-flex justify-content-between align-items-center py-4">
        <a href="/admin">
            <img src="/img/logo_name-white.svg" alt="ZR Advogados"></a>
        <nav>
            <ul class="m-0 p-0 d-flex justify-content-between align-items-center flex-row gap-5">
                <li>
                    <a href="/admin/consult-clients" class="h5">Clientes</a>
                </li>
                <li>
                    <a href="/admin/consult-processes" class="h5">Processos</a>
                </li>
                <li>
                    <a href="/admin/consult-users" class="h5">Usuários</a>
                </li>
                <li class="btn btn-danger">
                    <a href="/users/logout" class="h5">SAIR</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        background: #333;
    }

    header .container {

    }

    header .container img {
        width: 10rem;
    }

    header .container nav {

    }

    header .container nav ul {

    }

    header .container nav ul li {
        list-style: none;
    }

    header .container nav ul li a {
        color: #E3E3E3;
        text-decoration: none;
    }

    header .container nav ul li a:hover{
        color: #FFF;
        border-bottom: 1px solid #FFF;
    }
</style>