<style>
    @media(max-width: 380px) {
        header .container {
            flex-direction: column;
            align-items: start !important;
            gap: 1.2rem;
        }

        header .container figure {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
</style>
<header style="background-color: ghostwhite">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <figure class="p-0 m-0">
            <a href="/">
                <img src="/img/logo_name-black.svg" alt="Advogados ZR" style="width: 10rem;">
            </a>
        </figure>
        <div id="title-header">
            <h1 class="h3 p-0 m-0 mt-2">Painel de acompanhamento</h1>
        </div>
        <a href="https://advogadoszr.com" id="link-site" class="btn btn-secondary fw-bold text-uppercase" target="_blank">Visite nosso site</a>
    </div>
</header>