<main class="my-5" style="flex: 1 1 0">
    <section class="">
        <div class="container w-100 d-flex flex-column justify-content-center align-items-center">
            <h1>ESSA PÁGINA NÃO EXISTE</h1>
            <a href="/" class="btn btn-secondary">VOLTAR AO INÍCIO</a>
        </div>
    </section>
</main>