<main>
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Seja bem-vindo</h2>
                </div>
                <div class="card-body">
                    <form action="">
                        <label for="">Código:</label>
                        <input type="text" name="" id="">

                        <input type="submit" value="Consultar">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>