<style>
    @media(max-width: 380px){
        .card-body .row{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .card-body .row .col {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
    }
</style>
<main class="my-5" style="flex: 1 1 0">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 class="h1 p-0 m-0">Seja bem-vindo!</h2>
                </div>
                <div class="card-body my-4">
                    <form action="/consulting-process" method="POST">
                        <h2>Qual é o estado do meu processo?</h2>
                        <p>Indique o seu código de acesso.</p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="codeInsert" name="codeInsert" placeholder="Código" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" type="submit" id="button-addon2">Buscar<i class="ms-2 bi bi-search"></i></button>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
            </div>
            <section class="my-5 px-3 py-4 bg-info bg-gradient rounded" style="--bs-bg-opacity: .15;">
                <h2>Ainda não possui um código?</h2>
                <p class="m-0">Entre em contato conosco em: <a href="mailto:info@advogadoszr.com">info@advogadoszr.com</a></p>
            </section>
        </div>
    </section>
</main>